{
    "swagger": "2.0",
    "info": {
        "title": "Prototype GEAR API",
        "description": "Project to share GEAR's API usage.",
        "version": "0.0.0"
    },
    "host": "ea.gsa.gov",
    "schemes": [
        "https"
    ],
    "basePath": "/api/v0",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/applications/{id}": {
            "get": {
                "summary": "Business Application List",
                "description": "This endpoint returns the complete list of GSA Business Applications, to include retired applications.\n",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "path",
                        "description": "The database key that identifies the Business Application. Example: '5576'",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    ""
                ],
                "responses": {
                    "200": {
                        "description": "An array of airfares",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Application"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/applications/{id}/capabilities": {
            "get": {
                "summary": "Capabilities related to given Business Application List",
                "description": "This endpoint returns the Business Capabilites and Business Capability metadata associated to the indicated Business Application {id}.\n",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "path",
                        "description": "The database key that identifies the Business Application. Example: '5576'",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    ""
                ],
                "responses": {
                    "200": {
                        "description": "An array of airfares",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AppCap"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/applications/{id}/technologies": {
            "get": {
                "summary": "Technologies related to given Business Application List",
                "description": "This endpoint returns the IT Technologies and IT Technologies metadata associated to the indicated Business Application {id}.\n",
                "parameters": [
                    {
                        "name": "Id",
                        "in": "path",
                        "description": "The database key that identifies the Business Application. Example: '5576'",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    ""
                ],
                "responses": {
                    "200": {
                        "description": "An array of related Technologies of a given Business Application",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AppTech"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
        
    },
     "/{definition}/{id}/applications": {
            "get": {
                "summary": "Business Application List related to given definition",
                "description": "This endpoint returns the list of GSA Business Applications related to given definition.\n",
                "parameters": [
                    {
                        "name": "definition",
                        "in": "path",
                        "description": "The definition type that identifies the Business Application. Example: capabilities, itstandards, fisma, parentsystems, organizations, investments  ",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "Id",
                        "in": "path",
                        "description": "The database key that identifies the Business Application. Example: '16999' for capabilities,'20872' for investments, ",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    ""
                ],
                "responses": {
                    "200": {
                        "description": "An array of airfares",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Application"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
    "definitions": {
        "Application": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "integer",
                    "description": "The database key that identifies the Business Application."
                },
                "Name": {
                    "type": "string",
                    "description": "Name of the Business Application."
                },
                "Description": {
                    "type": "string",
                    "description": "Description of Business Application."
                },
                "SSO": {
                    "type": "string",
                    "description": "Verbose name of the SSO that manages the application. USUALLY the parent SSO to Owner, but not always."
                },
                "SSOShort": {
                    "type": "string",
                    "description": "Short name of the SSO that manages the application. USUALLY the parent SSO to Owner, but not always."
                },
                "Owner": {
                    "type": "string",
                    "description": "Verbose name of the 2-letter office(s) that manages (co-manage) this application."
                },
                "OwnerShort": {
                    "type": "string",
                    "description": "Short name of the 2-letter office(s) that manages (co-manage) this application."
                },
                "System": {
                    "type": "string",
                    "description": "The Parent System name that includes this application. If not part of a System, then the value will be NULL."
                },
                "BusinessPOC": {
                    "type": "string",
                    "description": "List of business POCs, separated by commas"
                },
                "TechnicalPOC": {
                    "type": "string",
                    "description": "List of technical POCs, separated by commas"
                },
                "Cloud": {
                    "type": "string",
                    "description": " Is this Business Appliation hosted in the Cloud (as opposed to in a GSA Data Center)? Yes or No only."
                },
                "TechnologyPlatform": {
                    "type": "string",
                    "description": "Technology platform for the application. One of the following values: .Net, Appian, ArcGIS, Business Objects, ColdFusion, Django, Documentum, Drupal, Foxpro, Google App Engine (GAE), J2EE, Microsoft Office, Oracle, PowerBuilder, Provided as Package, Red Hat, Ruby on Rails, Salesforce, Unisys Mainframe, WordPress, Other."
                },
                "Status": {
                    "type": "string",
                    "description": "Status of the application. One of the following values: Pre-Production, Production, or Retired."
                },
                "Alias": {
                    "type": "string",
                    "description": "Other names by which this application is known."
                },
                "RegionClassification": {
                    "type": "string",
                    "description": "PBS-centric classification. Values will be National or Regional"
                },
                "HostingProvider": {
                    "type": "string",
                    "description": "Service Provider for the application. One of the following values: Amazon, Appian, BSP, CGI, CTAC, ESRI, GSA, Google, HP Enterprise Services, IBM, Marathon Digital Services, Monster Govt Services, Noblis, OPM, Salesforce, SAP, ServiceNow, USDA Phase 1, USDA Phase 2, and Vanderweil (VFA)."
                },
                "FismaSystem": {
                    "type": "string",
                    "description": "The FISMA System that provides an ATO for this application"
                },
                "Investment": {
                    "type": "string",
                    "description": "The eCPIC Investment that provides funding for this application."
                },
                "IsRevenueGenerator": {
                    "type": "string",
                    "description": "Does this Business Application generate revenue? Values limited to Yes, No and TBD"
                },
                "DesktopComponent": {
                    "type": "string",
                    "description": "Does this Business Application have a component that can be installed on a laptop or desktop? Values limited to Yes, No and TBD."
                },
                "RetiredYear": {
                    "type": "string",
                    "description": "Year the application was retired. Will be NULL if “Status” is not Retired"
                },
                "Capabilities": {
                    "type": "string",
                    "description": "A comma separated list of the FEAF BRM capabilities that are supported by this application."
                },
                "Technologies": {
                    "type": "string",
                    "description": "A comma separated list of IT Standards that compose this application"
                },
                 "Link": {
                    "type": "string",
                    "description": "The URL that points to the applications web interface. If there are more than one, they will be separated by commas."
                }
       
            }
        },
        
        "AppCap": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "integer",
                    "description": "The database key that identifies the Capabilities."
                },
                "Name": {
                    "type": "string",
                    "description": "Name of the Business Capability."
                },
                "Description": {
                    "type": "string",
                    "description": "Description of Business Capability."
                },
                "Ref": {
                    "type": "string",
                    "description": "Position in the GSA hierarchy of FEAF Business Capability."
                },
                "ParentCap": {
                    "type": "string",
                    "description": "Name of the Parent Business Capability to this Business Capability."
                }     
            }
        },
        "AppTech": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "integer",
                    "description": "The database key that identifies the IT Standards."
                },
                "Name": {
                    "type": "string",
                    "description": "Name of the IT Standards."
                },
                "Description": {
                    "type": "string",
                    "description": "Description of IT Standards"
                },
                "Status": {
                    "type": "string",
                    "description": "Position in the GSA hierarchy of FEAF Business Capability."
                },
                "Expiration": {
                    "type": "string",
                    "description": "Year and month that the approval for this standard expires. Standards that are not in an approved or pilot state will have NULL for this field."
                },
                "Category": {
                    "type": "string",
                    "description": "Standards category that this IT Standard fits into."
                }  
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "required_fields": {
                    "type": "string"
                },
                "example": {
                    "type": "string"
                }
            }
        }
    }
}


