{
    "swagger": "2.0",
    "info": {
        "title": "Space holder for paramter descriptions",
        "description": "Describe what is a definition here",
        "version": "0.0.0"
    },
    "host": "ea.gsa.gov",
    "schemes": [
        "https"
    ],
    "basePath": "/api/v0",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/{def}/{id}": {
            "get": {
                "summary": "Business Application List",
                "description": "This endpoint returns the complete list of GSA Business Applications.\n",
                "parameters": [
                    {
                        "name": "def",
                        "in": "path",
                        "description": "The technologies, or capabilities related to the given application. Example, itstandards",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "Id",
                        "in": "path",
                        "description": "The database key that identifies the Business Application. Example: '5576'",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    ""
                ],
                "responses": {
                    "200": {
                        "description": "An array of airfares",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/{def}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/applications/{id}/{def}": {
            "get": {
                "summary": "Definitions related to given Business Application List",
                "description": "This endpoint returns the IT standards and IT standards metadata associated to the indicated Business Application {id}.\n",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The database key that identifies the Business Application. Example: '5576'",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "def",
                        "in": "path",
                        "description": "The technologies, or capabilities related to the given application. Example, itstandards, technologies",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    ""
                ],
                "responses": {
                    "200": {
                        "description": "An array of related definition of a given Business Application",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/{def}"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        
     "/{def}/{id}/applications": {
            "get": {
                "summary": "Business Application List related to given definition",
                "description": "This endpoint returns the list of GSA Business Applications related to given definition.\n",
                "parameters": [
                    
                    {
                        "name": "def",
                        "in": "path",
                        "description": "the definitions. Example: capabilities, itstandards, investments, fisma, organizations, etc",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The database key that identifies the Business Application. Example: '16999' for capabilities,'20872' for investments",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }                    
                ],
                "tags": [
                    ""
                ],
                "responses": {
                    "200": {
                        "description": "An array of Business Applications",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Application"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
     "/{def}/{id}/pocs": {
            "get": {
                "summary": "Point of Contact List related to given definition",
                "description": "This endpoint returns the list of Point of Contact related to given definition.\n",
                "parameters": [
                    
                    {
                        "name": "def",
                        "in": "path",
                        "description": "the definitions. Example: capabilities, itstandards, investments, fisma, organizations, applications, etc",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The database key that identifies the Business Application. Example: '16999' for capabilities,'20872' for investments",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }                    
                ],
                "tags": [
                    ""
                ],
                "responses": {
                    "200": {
                        "description": "An array of Point of Contact",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/poc"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
     },
    "definitions": {
        "Application": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "integer",
                    "description": "The database key that identifies the Business Application."
                },
                "Name": {
                    "type": "string",
                    "description": "Name of the Business Application."
                },
                "Description": {
                    "type": "string",
                    "description": "Description of Business Application."
                },
                "SSO": {
                    "type": "string",
                    "description": "Verbose name of the SSO that manages the application. USUALLY the parent SSO to Owner, but not always."
                },
                "SSOShort": {
                    "type": "string",
                    "description": "Short name of the SSO that manages the application. USUALLY the parent SSO to Owner, but not always."
                },
                "Owner": {
                    "type": "string",
                    "description": "Verbose name of the 2-letter office(s) that manages (co-manage) this application."
                },
                "OwnerShort": {
                    "type": "string",
                    "description": "Short name of the 2-letter office(s) that manages (co-manage) this application."
                },
                "System": {
                    "type": "string",
                    "description": "The Parent System name that includes this application. If not part of a System, then the value will be NULL."
                },
                "BusinessPOC": {
                    "type": "string",
                    "description": "List of business POCs, separated by commas"
                },
                "TechnicalPOC": {
                    "type": "string",
                    "description": "List of technical POCs, separated by commas"
                },
                "Cloud": {
                    "type": "string",
                    "description": " Is this Business Appliation hosted in the Cloud (as opposed to in a GSA Data Center)? Yes or No only."
                },
                "TechnologyPlatform": {
                    "type": "string",
                    "description": "Technology platform for the application. One of the following values: .Net, Appian, ArcGIS, Business Objects, ColdFusion, Django, Documentum, Drupal, Foxpro, Google App Engine (GAE), J2EE, Microsoft Office, Oracle, PowerBuilder, Provided as Package, Red Hat, Ruby on Rails, Salesforce, Unisys Mainframe, WordPress, Other."
                },
                "Status": {
                    "type": "string",
                    "description": "Status of the application. One of the following values: Pre-Production, Production, or Retired."
                },
                "Alias": {
                    "type": "string",
                    "description": "Other names by which this application is known."
                },
                "RegionClassification": {
                    "type": "string",
                    "description": "PBS-centric classification. Values will be National or Regional"
                },
                "HostingProvider": {
                    "type": "string",
                    "description": "Service Provider for the application. One of the following values: Amazon, Appian, BSP, CGI, CTAC, ESRI, GSA, Google, HP Enterprise Services, IBM, Marathon Digital Services, Monster Govt Services, Noblis, OPM, Salesforce, SAP, ServiceNow, USDA Phase 1, USDA Phase 2, and Vanderweil (VFA)."
                },
                "FismaSystem": {
                    "type": "string",
                    "description": "The FISMA System that provides an ATO for this application"
                },
                "Investment": {
                    "type": "string",
                    "description": "The eCPIC Investment that provides funding for this application."
                },
                "IsRevenueGenerator": {
                    "type": "string",
                    "description": "Does this Business Application generate revenue? Values limited to Yes, No and TBD"
                },
                "DesktopComponent": {
                    "type": "string",
                    "description": "Does this Business Application have a component that can be installed on a laptop or desktop? Values limited to Yes, No and TBD."
                },
                "RetiredYear": {
                    "type": "string",
                    "description": "Year the application was retired. Will be NULL if “Status” is not Retired"
                },
                "Capabilities": {
                    "type": "string",
                    "description": "A comma separated list of the FEAF BRM capabilities that are supported by this application."
                },
                "Technologies": {
                    "type": "string",
                    "description": "A comma separated list of IT Standards that compose this application"
                },
                 "Link": {
                    "type": "string",
                    "description": "The URL that points to the applications web interface. If there are more than one, they will be separated by commas."
                }
       
            }
        },
        
        "capabilities": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "integer",
                    "description": "The database key that identifies the Capabilities."
                },
                "Name": {
                    "type": "string",
                    "description": "Name of the Business Capability."
                },
                "Description": {
                    "type": "string",
                    "description": "Description of Business Capability."
                },
                "Ref": {
                    "type": "string",
                    "description": "Position in the GSA hierarchy of FEAF Business Capability."
                },
                "ParentCap": {
                    "type": "string",
                    "description": "Name of the Parent Business Capability to this Business Capability."
                }     
            }
        },
        "itstandards": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "integer",
                    "description": "The database key that identifies the IT Standards."
                },
                "Name": {
                    "type": "string",
                    "description": "Name of the IT Standards."
                },
                "Description": {
                    "type": "string",
                    "description": "Description of IT Standards"
                },
                "Status": {
                    "type": "string",
                    "description": "Position in the GSA hierarchy of FEAF Business Capability."
                },
                "Expiration": {
                    "type": "string",
                    "description": "Year and month that the approval for this standard expires. Standards that are not in an approved or pilot state will have NULL for this field."
                },
                "Category": {
                    "type": "string",
                    "description": "Standards category that this IT Standard fits into."
                }  
            }
        },
        
        "fisma": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "integer",
                    "description": "The database key that identifies the FISMA System."
                },
                "Name": {
                    "type": "string",
                    "description": " Name of the FISMA System."
                },
                "RelOrgDisplayName": {
                    "type": "string",
                    "description": "The short name of the organization that is related to this FISMA System."
                },
                "FedContractorLoc": {
                    "type": "string",
                    "description": "Is this FISMA System related to a Federal or Contractor location."
                },
                "FIPS199": {
                    "type": "string",
                    "description": "The FIPS 199 impact level of the FISMA System. One of the following values: High, Moderate, or Low."
                },
                "ATODate": {
                    "type": "string",
                    "description": "Date was the ATO isssued"
                },
                "ATOType": {
                    "type": "string",
                    "description": "Type of ATO that certifies this FISMA System."
                },
                "RenewalDate": {
                    "type": "string",
                    "description": "Date when the ATO needs to be renewed."
                },
                "RelatedArtifacts": {
                    "type": "string",
                    "description": "Letters and other artifacts related to this FISMA System. This will be returned as an array containing zero, one, or many Artifacts, containing the NAME of the Artifact and ReferenceDocuments, which will be the URL of the Artifact."
                },
                "FISMASystemIdentifier": {
                    "type": "string",
                    "description": "A shortened identifier for FISMA Systems for uses with Security's Continuous Monitoring System."
                },
                "ISSO": {
                    "type": "string",
                    "description": "ISSO for this FISMA System."
                },
                "ISSM": {
                    "type": "string",
                    "description": " ISSM for this FISMA System."
                },
                "AO": {
                    "type": "string",
                    "description": "Authorizing Official for this FISMA System."
                },
                "PM": {
                    "type": "string",
                    "description": "Program Manager for this FISMA System."
                }                
            }
        },
        "organizations": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "integer",
                    "description": "The database key that identifies the Organization."
                },
                "Name": {
                    "type": "string",
                    "description": " Name of the Organization."
                },
                "DisplayName": {
                    "type": "string",
                    "description": "Short name of the Organization."
                },
                "Description": {
                    "type": "string",
                    "description": "Description of the Organization."
                },
                "Parent": {
                    "type": "string",
                    "description": "Verbose name of the Parent Organization."
                }
            }
        },
        "investments": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "integer",
                    "description": "The database key that identifies the IT Investment."
                },
                "Name": {
                    "type": "string",
                    "description": "Name of the IT Investment."
                },
                "Description": {
                    "type": "string",
                    "description": "Description of the IT Investment."
                },
                "Type": {
                    "type": "string",
                    "description": "How this IT Investment is characterized. Values are Major IT Investment, Non-Major Investment, or Funding Transfer Investment"
                },
                "PSA": {
                    "type": "string",
                    "description": "The Primary Service Area of this IT Investment. This is the main Business Capability that this investment supports."
                },
                "SSA": {
                    "type": "string",
                    "description": "The Secondary Service Area of this IT Investment. This is a secondary Business Capability that this investment may support."
                },
                "InvManager": {
                    "type": "string",
                    "description": "The Point of Contact for this IT Investment."
                },
                "UII": {
                    "type": "string",
                    "description": "The Unique Investment ID for this IT Investment that is tracked in eCPIC."
                }
            }
        },
        "poc": {
            "type": "object",
            "properties": {
                "ParentId": {
                    "type": "integer",
                    "description": "The database key that identifies the definition to which this POC is related."
                },
                "Name": {
                    "type": "string",
                    "description": " Name of the Point of Contact."
                },
                "Phone": {
                    "type": "string",
                    "description": "Point of Contact's phone number."
                },
                "Email": {
                    "type": "string",
                    "description": "Point of Contact's email address."
                },
                "Owner": {
                    "type": "string",
                    "description": "Point of Contact's organization."
                },
                "Type": {
                    "type": "string",
                    "description": "Type of Point of Contact."
                }
            }
        },
        "Error": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                },
                "required_fields": {
                    "type": "string"
                },
                "example": {
                    "type": "string"
                }
            }
        }
    }
}


